body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.159), rgba(0, 0, 0, 0.306)),
        url("https://cdn.mos.cms.futurecdn.net/TEq9sj6tMqaDDmeZ2XCoi5.jpg");
    background-size: 1920px 1080px;
    color: rgb(255, 162, 41);
}
input {
    border-radius: 9px;
    border: 2px rgb(255, 162, 41) solid;
    width: 500px;
    height: 40px;
    background-color: rgba(255, 162, 41, 0);
    color: rgb(251, 205, 146);
    padding: 5px 10px;
}
button {
    margin: 25px 0px 0px 0px;
    width: 300px;
    height: 40px;
    border: 2px solid rgb(255, 162, 41);
    background-color: rgb(255, 162, 41);
    border-radius: 9px;
    color: white;
    font-size: 23px;
}
button:hover {
    background-color: grey;
    border: grey;
    color: rgb(255, 162, 41);
}
button:active {
    background-color: rgb(255, 162, 41);
    border: rgb(255, 162, 41);
    color: white;
}
.Sign_up {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: rgb(251, 205, 146);
}
a:hover {
    color: gray;
}
.return_homepage {
    position: absolute;
    left: 10vh;
    top: 6vh;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid rgb(255, 162, 41);
    border-bottom: 25px solid transparent;
}
.return_homepage:hover {
    border-right: 50px solid gray;
}
